/* ./styles/ForgotPassword.css */

:root {
  --primary-color: #6a0dad !important; /* Purple */
  --secondary-color: #8a2be2 !important; /* BlueViolet */
  --light-color: #f8f9fa !important; /* Light color for backgrounds */
  --dark-color: #343a40 !important; /* Dark color for text */
}

body {
  /* background-color: var(--dark-color) !important; */
}

.forgot-password-div{
  height: 100%;
  width: 100%;
  background-color: var(--dark-color);
  padding-top: 2rem !important;
}

.forgot-password-container {
  
  margin-top: 5%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color) !important;
}

.forgot-password-container h2 {
  margin-bottom: 1.5rem;
  color: var(--light-color) !important;
  text-align: center;
}

.forgot-password-container .form-label {
  color: var(--light-color) !important;
}

.forgot-password-container .form-control {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
}

.forgot-password-container .btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
}

.forgot-password-container .btn-primary:hover {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.forgot-password-container .btn-primary:active {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.forgot-password-container .text-link {
  color: var(--light-color) !important;
  text-decoration: none;
}

.forgot-password-container .text-link:hover {
  color: var(--dark-color) !important;
}

.forgot-password-container .text-link:active {
  color: var(--secondary-color) !important;
}

.reset-link:hover{
  background-color: var(--dark-color) !important;
}
